.contact-form-section {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
    padding: 6rem 0;
    overflow-x: hidden;
}

.contact-form-wrapper {
    display: flex;
    gap: 0;
    justify-content: center;
    padding-top: 6rem;
    margin: 0 auto;
    height: fit-content;
}

.contact-form-image {
    flex: 0 1 400px;
    position: relative;
    margin: 0;
    height: auto;
    display: flex;
}

.contact-form-image img {
    width: 100%;
    height: 100%;
    border-radius: 80px 0 0 80px;
    object-fit: cover;
    display: block;
}

.contact-form-content {
    flex: 0 1 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d2f3ee;
    border-radius: 0 80px 80px 0;
    height: auto;
    margin: 0;
}

.contact-form-header {
    text-align: center;
    z-index: 1;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.contact-form-header h1 {
    margin-top: 20px;
    font-size: 2.5rem;
}

.contact-form-header p {
    font-size: 1.25rem;
}

.contact-form-container {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: none;
}

.contact-form-inner {
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

input, textarea {
    padding: 1rem;
    border: 1px solid #bebebe;
    border-radius: 10px;
    font-size: 0.9rem;
    width: 100%;
}

button {
    background-color: #00897B;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00796B;
}

@media (max-width: 768px) {
    .contact-form-section {
        padding: 2rem 0;
        min-height: auto;
    }

    .contact-form-wrapper {
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
        min-height: auto;
        margin: 2rem auto;
        padding-top: 1rem;
        width: 90%;
    }
    
    .contact-form-image {
        flex: none;
        width: 100%;
    }
    
    .contact-form-image img {
        border-radius: 40px;
    }
    
    .contact-form-content {
        flex: none;
        width: 100%;
        border-radius: 40px;
        padding: 1.5rem;
    }
    
    .contact-form-header {
        margin-top: 0;
    }
    
    .contact-form-header h1 {
        font-size: 1.8rem;
    }
    
    .contact-form-header p {
        font-size: 1rem;
        margin-top: -10px;
    }

    .contact-form-container {
        max-width: 100%;
        padding: 0;
    }

    .contact-form-inner {
        padding: 1rem;
    }

    input, textarea, .react-tel-input .form-control {
        padding: 0.8rem;
        font-size: 0.9rem;
    }

    button {
        width: 100%;
        padding: 0.8rem;
    }
}

@media (max-width: 480px) {
    .contact-form-header h1 {
        font-size: 1.5rem;
    }
    
    .contact-form-inner h2 {
        font-size: 1.2rem;
    }
}
    
  