/* Container principal */
.home-hero {
    position: relative;
    height: 100vh; /* Mantener el alto completo para la primera secci칩n */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para evitar que el video se desborde */
}

/* Container del video - modificado para quedar solo en el hero */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(0, 0, 0);
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.45;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.home-hero .text-container h1 {
    width: fit-content;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    margin-inline: auto;
}

.home-hero .hero-subtitle {
    width: fit-content;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 4rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    margin-inline: auto;
}

/*.home-hero .hero-description {
    max-width: 70%;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(248, 248, 248);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    margin-inline: auto;
    text-wrap: pretty;
}*/

/* Media queries para responsividad */
@media screen and (max-width: 768px) {
    .text-container h1 {
        font-size: 2rem;
    }
    
    .hero-subtitle {
        font-size: 1.4rem;
    }
    
    .home-hero .hero-description {
        max-width: 95%;    /* Aumentamos ligeramente en m칩viles */
        font-size: 1.1rem; /* Reducimos el tama침o de fuente en m칩viles */
    }
}

