.hero-section {
  padding: 20px;
  background-color: #f5f5f5; /* Color de fondo */
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; /* Centrar el texto */
}

.hero-container h2 {
  margin: 10px 0; /* Espaciado entre los encabezados */
  color: #333; /* Color del texto */
}
