.footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 1rem;
    position: relative;
    margin-top: auto;
    box-sizing: border-box;
}

.footer-content {
    max-width: 1200px; /* O el ancho máximo que prefieras */
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around; /* Cambiado de space-between para un espaciado más uniforme */
    margin-bottom: 1rem;
    gap: 20px; /* Añadido para controlar el espacio entre secciones */
}

.footer-section {
    flex: 1;
    padding: 0;  /* Eliminado el padding horizontal */
    text-align: left;
    display: flex;
    flex-direction: column;
}

.footer-section h4 {
    margin-bottom: 0.5rem;
    margin-left: 40px;
    margin-top: 40px;
}

.footer-section ul {
    flex-direction: column;
    margin-left: 60px;
    list-style: none; /* Añadido para eliminar las viñetas */
}

.footer-section li {
    margin-left: -20px;
    white-space: nowrap;
    width: fit-content;
    line-height: 2;
}

.footer-logo {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    padding: 10px;
}


.footer-text {
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    margin-top: -20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.icon-container {
    margin: 1px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.3s ease;
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 1.5rem; /* Tamaño del icono */
}

/* WhatsApp */
.whatsapp-icon {
    color: #25D366;
    transition: color 0.3s ease;
}
.icon-container:has(.whatsapp-icon):hover {
    background-color: rgba(37, 211, 102, 0.5);
    box-shadow: 
        inset 0 0 20px rgba(37, 211, 102, 0.8),
        0 0 20px rgba(37, 211, 102, 0.8);
}
.icon-container:hover .whatsapp-icon {
    color: #000000;
}

/* Facebook */
.facebook-icon {
    color: #3b5998;
    transition: color 0.3s ease;
}
.icon-container:has(.facebook-icon):hover {
    background-color: rgba(59, 89, 152, 0.5);
    box-shadow: 
        inset 0 0 20px rgba(59, 89, 152, 0.8),
        0 0 20px rgba(59, 89, 152, 0.8);
}
.icon-container:hover .facebook-icon {
    color: #000000;
}

/* Instagram */
.instagram-icon {
    color: #E1306C;
    transition: color 0.3s ease;
}
.icon-container:has(.instagram-icon):hover {
    background-color: rgba(225, 48, 108, 0.5);
    box-shadow: 
        inset 0 0 20px rgba(225, 48, 108, 0.8),
        0 0 20px rgba(225, 48, 108, 0.8);
}
.icon-container:hover .instagram-icon {
    color: #000000;
}

/* LinkedIn */
.linkedin-icon {
    color: #0077B5;
    transition: color 0.3s ease;
}
.icon-container:has(.linkedin-icon):hover {
    background-color: rgba(0, 119, 181, 0.5);
    box-shadow: 
        inset 0 0 20px rgba(0, 119, 181, 0.8),
        0 0 20px rgba(0, 119, 181, 0.8);
}
.icon-container:hover .linkedin-icon {
    color: #000000;
}

/* TikTok */
.tiktok-icon {
    color: #69C9D0;
    transition: color 0.3s ease;
}
.icon-container:has(.tiktok-icon):hover {
    background-color: rgba(105, 201, 208, 0.5);
    box-shadow: 
        inset 0 0 20px rgba(105, 201, 208, 0.8),
        0 0 20px rgba(105, 201, 208, 0.8);
}
.icon-container:hover .tiktok-icon {
    color: #000000;
}

.footer-divider {
    border: none; /* Elimina el borde por defecto */
    border-top: 1px solid #ffffff; /* Línea blanca */
    width: 70%; /* Ajusta el ancho de la línea */
    margin: 1rem auto; /* Centra la línea y añade margen arriba y abajo */
    margin-bottom: 2rem;
    margin-top: 0rem;
}

.footer-copyright {
    text-align: center;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
  }

  .footer-section {
    text-align: center;
  }

  .footer-section h4 {
    margin: 20px 0; /* Ajusta el margen superior e inferior */
    text-align: center; /* Centra el texto del título */
  }

  .footer-section ul {
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
    list-style: none; /* Mantiene la eliminación de viñetas */
    text-align: center; /* Centra el texto de la lista */
    display: flex; /* Utiliza flexbox para centrar los elementos */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .footer-section li {
    margin: 5px 0; /* Añade margen entre los elementos de la lista */
    text-align: center; /* Centra el texto de cada elemento de la lista */
    width: 100%; /* Asegura que los elementos ocupen el ancho completo */
  }

  .footer-logo {
    width: 200px;
  }

  .footer-icons {
    margin-top: 5rem;
  }

  .icon-container {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 1rem 0;
  }

  .icon-container {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
}


